

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  body{background-color:bisque;}
  .img{
    width: 800px;
    margin: 4em;
    border: brown double 6px;
  }
  </style>
  <title>ELEMENTOS RÁPIDOS</title>
</head>
<body>
<h1> CONDICIONAL IF 1044 </h1> 
<ol>
  <li>Un input que muestre por consola lo escrito</li>
  <li>Esto a traves de un botón</li>
  <li>Una condicional que muestre SE HA ENVIADO MENSAJE al pulsar el botón</li>
  <li>Un botón cerrar </li>
  <li>Y un else que muestre Mensaje de prueba mientras no se envié</li>
 <h6>NOTA IMPORTANTE</h6>
<li>Para usar las condicionales se tiene que importar el CommonModule</li>
<li>Tanto en el appModules.ts como en el ts del componente</li>
</ol>
<img src="/src/assets/image/angular/ngIf1.PNG" alt="" class="img">
<img src="/src/assets/image/angular/ngIf.PNG" alt="" class="img">
<H2>AGREGAR EL COMMON MODULE EN  APPMODULES.TS</H2>
  <pre>
    <div class="div">
      <H2>TEMPLATE</H2>
      &lt;input type="text" #name>

&lt;button (click)="cambio(name.value)">Press&lt;/button>

&lt;h4 *ngIf="mensaje"> {{name.value}} &lt;/h4>

&lt;p *ngIf="mensaje">el mensaje ha sido enviado&lt;/p>


<h2>SCRIPT</h2>
import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';


@Component({
  selector: 'app-aarepasar',
  standalone: true,
  imports: [CommonModule],
  templateUrl: './aarepasar.component.html',
  styleUrl: './aarepasar.component.css'
})
export class AarepasarComponent {

  mensaje : boolean = false
cambio(name: string) {
  name
  this.mensaje=true
  setTimeout(() => {
    this.mensaje=false

  }, 3000);
}   
}

    </div>
  </pre>
</body>
</html>


