      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        body{background-color:bisque;}
        .img{
          width: 800px;
          margin: 4em;
        }
        </style>
        <title>ELEMENTOS RÁPIDOS</title>
      </head>
      <body>
        <h2>	V-MODEL 1228	</h2>
<ol>		
<li>	Crear el input v-text-field, con el v-model; la variable es relativa	</li>
<li>	otro input tipo v-checkbox, con v-model y su variable	</li>
<li>	2 h3 con if/show dando las clases y si acepta o no	</li>
<li>	la igualdad es con ===	</li>
</ol>		
<img src="/src/assets/image/vmodel1.png" alt="vmodel1" class="img">
        <pre>
          <div>
            &lt;template>
            &lt;h1>V-MODEL &lt;/h1> 
           &lt;v-row class="pt-6">
            &lt;v-col cols="3" >
            &lt;v-text-field
              v-model="texto"
              label="Escribir aquí"
              outlined
          />
          Acepta términos y condiciones
          &lt;v-checkbox
          class="pl-12"
          v-model="check"
          />
          &lt;/v-col>
          &lt;v-col cols="3">
            &lt;h3>{{ texto }}&lt;/h3>&lt;br>&lt;br>&lt;br>
          
            &lt;h3 v-show="check===true" class="text-green">Acepta Términos y condiciones&lt;/h3>
            &lt;h3 v-show="check===false" class="text-red">No Acepta Términos y condiciones&lt;/h3>
          &lt;/v-col>
          &lt;/v-row>
          &lt;/template>
          &lt;!-- ******************************* --> 
          &lt;script setup>
          import { ref } from 'vue';
          
          
          let texto = ref('')
          let check = ref(true)
          &lt;/script>
          &lt;!-- ******************************* -->
          &lt;style scoped>
          div{
            background-color: antiquewhite;
           
          }
          
          &lt;/style>
          </div>
        </pre>
      </body>
      </html>
    

  