<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  body{background-color:bisque;}
  .img{
    width: 800px;
    margin: 4em;
  }
  </style>
  <title>ELEMENTOS RÁPIDOS</title>
</head>
<body>
  <h2>	Opciones V-FOR 0745	</h2>
<ol>		
<li>	hacer un card y tener un objeto de preguntas 	</li>
<li>	que cada pregunta con su respuesta aparezcan	</li>
<li>	 5 preguntas con 3-4 respuestas 	</li>
<li>	 Que desaparezcan después de 3 segundos	las respuestas</li>
</ol>		
<img src="/src/assets/image/OpcionVfor.png" alt="opcionVfor" class="img">
  <pre>
    <div>
      &lt;template>
      &lt;div>
          &lt;h2>Opciones con V-for&lt;/h2>
          &lt;div class="card" v-for="(titulo, index) in preguntas" :key="index" >
            &lt;h2 >{{ titulo.pregunta }}&lt;/h2>
            &lt;ol>
              &lt;li v-for="(respuesta, index) in titulo.opciones" :key="index" class="res">{{ respuesta }}&lt;/li>
              &lt;h2 :class="color">{{ titulo.respuestaCorrecta }}&lt;/h2>
            &lt;/ol>      
            &lt;button @click="rpta" >RESPUESTA&lt;/button>
    
          &lt;/div>
      &lt;/div>
    &lt;/template>
    &lt;!-- ************************************* -->
    &lt;script setup>
    import { ref } from 'vue';
    
    let color = ref('rojo')
    const rpta = () => {
    color.value = 'verde'
    
    const restablecerColor = () => {
        color.value = 'rojo';
    }
    setTimeout(restablecerColor, 3000)
    }
    const preguntas = [
      { 
          pregunta: "¿Lenguaje más utilizado?",
          opciones: ["JavaScript", "Python", "Java", "C++"],
          respuestaCorrecta: "JavaScript"
      },
      {
          pregunta: "¿Significado de CSS?",
          opciones: ["Cascading Style Sheets", "Creative Style Selector", "Code Styling System", "Crazy Stylish Syntax"],
          respuestaCorrecta: "Cascading Style Sheets"
      },
      {
          pregunta: "¿Qué tipo de lenguaje es Python?",
          opciones: ["Interpretado", "Compilado", "Ambos", "Ninguno de los anteriores"],
          respuestaCorrecta: "Interpretado"
      },
      {
          pregunta: "¿Qué es HTML?",
          opciones: ["Un lenguaje de programación", "Un sistema de gestión de bases de datos", "Un lenguaje de marcado", "Un lenguaje de consulta"],
          respuestaCorrecta: "Un lenguaje de marcado"
      },
      {
          pregunta: "¿Cuál de los siguientes no es un lenguaje de programación?",
          opciones: ["HTML", "CSS", "Java", "Ruby"],
          respuestaCorrecta: "CSS"
      },
      
    ]
    
    &lt;/script>
    &lt;!-- ************************************* -->
    &lt;style scoped>
    .card{
    background-color: darkcyan;
    width: 30em;
    height: 17em;
    border: greenyellow 2px solid;
    border-radius: 1em;
    margin: 1em;
    padding: 0.8em;
    
    }
    .rojo{
    color: darkcyan;
    }
    .verde{
    color:white
    }
    
    .res{
      margin-left: 2em;
    }
    &lt;/style>
    </div>
  </pre>
</body>
</html>